@font-face {
    font-family:'jaycons';
    src: url('../fonts/jaycons.ttf');
    display: inline-block;
}
*{
    vertical-align: middle;
}
.jc{
    font-family: 'jaycons';
    display: inline-block;
    line-height: 1;
    text-rendering: auto;
    font-style: normal;
    text-transform: none;
}
.jcb-bootstrap::before{
    content: '\0021';
}
.jcb-brave::before{
    content: '\0022';
}
.jcb-css-alt::before{
    content: '\0023';
}
.jcb-css::before{
    content: '\0024';
}
.jcb-chrome::before{
    content: '\0025';
}
.jcb-edge::before{
    content:'\0026';
}
.jcb-facebook-circle::before{
    content:'\0027';
}
.jcb-facebook-square::before{
    content: '\0028';
}
.jcb-facebook::before{
    content: '\0029';
}
.jcb-figma-square::before{
    content: '\002a';
}
.jcb-figma::before{
    content: '\002b';
}
.jcb-firefox::before{
    content: '\002c';
}
.jcb-git::before{
    content: '\002d';
}
.jcb-github::before{
    content: '\002e';
}
.jcb-gmail::before{
    content: '\002f';
}
.jcb-html-alt::before{
    content: '\0030';
}
.jcb-html::before{
    content: '\0031';
}
.jcb-ai::before{
    content: '\0032';
}
.jcb-js-alt::before{
    content: '\0033';
}
.jcb-js::before{
    content: '\0034';
}
.jcb-jay::before{
    content: '\0035';
}
.jcb-linkedin-square::before{
    content: '\0036';
}
.jcb-linkedin::before{
    content: '\0037';
}
.jcb-markdown::before{
    content: '\0038';
}
.jcb-mysql::before{
    content: '\0039';
}
.jcb-opera::before{
    content: '\003a';
}
.jcb-photoshop::before{
    content: '\003b';
}
.jcb-php-alt::before{
    content: '\003c';
}
.jcb-php::before{
    content: '\003d';
}
.jcb-react::before{
    content: '\003e';
}
.jcb-sass::before{
    content: '\003f';
}
.jcb-tailwind::before{
    content: '\0040';
}
.jcb-telegram::before{
    content: '\0041';
}
.jcb-twitter::before{
    content: '\0042';
}
.jcb-whatsapp::before{
    content: '\0043';
}
.jcb-wordpress::before{
    content: '\0044';
}
.jcb-xd::before{
    content: '\0045';
}
.jc-x::before{
    content:'\0046';
}
.jc-x-circle::before{
    content: '\0047';
}
.jc-user::before{
    content: '\0048';
}
.jc-user-circle::before{
    content: '\0049';
}
.jc-unlink::before{
    content: '\004a';
}
.jc-toggle-right::before{
    content: '\004b';
}
.jc-toggle-left::before{
    content: '\004c';
}
.jc-sun::before{
    content: '\004d';
}
.jc-show::before{
    content: '\004e';
}
.jc-registered::before{
    content: '\004f';
}
.jc-plus::before{
    content: '\0050';
}
.jc-plus-circle::before{
    content: '\0051';
}
.jc-phone::before{
    content: '\0052';
}
.jc-paper-plane::before{
    content: '\0053';
}
.jc-moon::before{
    content: '\0054';
}
.jc-menu::before{
    content: '\0055';
}
.jc-mobile::before{
    content: '\0056';
}
.jc-minus::before{
    content: '\0057';
}
.jc-minus-circle::before{
    content: '\0058';
}
.jc-link::before{
    content: '\0059';
}
.jc-link-external::before{
    content: '\005a';
}
.jc-link-alt::before{
    content: '\005b';
}
.jc-laptop::before{
    content: '\005c';
}
.jc-home::before{
    content:'\005d';
}
.jc-home-alt::before{
    content:'\005e';
}
.jc-home-alt-2::before{
    content:'\005f';
}
.jc-hide::before{
    content:'\0060';
}
.jc-heart::before{
    content:'\0061';
}
.jc-folder::before{
    content:'\0062';
}
.jc-folder-open::before{
    content:'\0063';
}
.jc-envelope::before{
    content:'\0064';
}
.jc-download::before{
    content:'\0065';
}
.jc-desktop::before{
    content:'\0066';
}
.jc-chevron-up::before{
    content:'\0067';
}
.jc-chevron-right::before{
    content:'\0068';
}
.jc-chevron-left::before{
    content:'\0069';
}
.jc-chevron-down::before{
    content:'\006a';
}
.jc-check::before{
    content:'\006b';
}
.jc-check-circle::before{
    content:'\006c';
}
.jc-copyright::before{
    content:'\006d';
}
.jc-code::before{
    content:'\006e';
}
.jc-clock::before{
    content:'\006f';
}
.jc-circle::before{
    content:'\0070';
}
.jc-arrow-up::before{
    content:'\0071';
}
.jc-arrow-right::before{
    content:'\0072';
}
.jc-arrow-left::before{
    content:'\0073';
}
.jc-arrow-down::before{
    content:'\0074';    
}
.jcs-x-circle::before{
    content:'\0075';
}
.jcs-user::before{
    content:'\0076';
}
.jcs-user-circle::before{
    content:'\0077';
}
.jcs-folder-open::before{
    content:'\0078';
}
.jcs-toggle-right::before{
    content:'\0079';
}
.jcs-toggle-left::before{
    content:'\007a';
}
.jcs-sun::before{
    content:'\007b';
}
.jcs-show::before{
    content:'\007c';
}
.jcs-registered::before{
    content:'\007d';
}
.jcs-plus-circle::before{
    content:'\007e';
}
.jcs-phone::before{
    content:'\00a1';
}
.jcs-paper-plane::before{
    content:'\00a2';
}
.jcs-moon::before{
    content:'\00a3';
}
.jcs-mobile::before{
    content:'\00a4';
}
.jcs-minus-circle::before{
    content:'\00a5';
}
.jcs-laptop::before{
    content:'\00a6';
}
.jcs-home::before{
    content:'\00a7';
}
.jcs-home-alt::before{
    content:'\00a8';
}
.jcs-home-alt-2::before{
    content:'\00a9';
}
.jcs-hide::before{
    content:'\00aa';
}
.jcs-heart::before{
    content:'\00ab';
}
.jcs-folder::before{
    content:'\00ac';
}
.jcs-envelope::before{
    content:'\00ad';
}
.jcs-desktop::before{
    content:'\00ae';
}
.jcs-check-circle::before{
    content:'\00af';
}
.jcs-copyright::before{
    content:'\00b0';
}
.jcs-clock::before{
    content:'\00b1';
}
.jcs-circle::before{
    content:'\00b2';
}